@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    background-color: hsl(0, 0%, 98%);
    margin-top: 100px;
}


header {
    max-width: 500px;
    text-align: center;
    margin: 50px auto;
}

h1 {
    font-weight: 200;
    margin: 0;
    color: hsl(234, 12%, 34%);
}

span { 
    font-weight: 600;
}

h1, span {
    font-size: 40px;
}

h3 {
    color: hsl(234, 12%, 34%);
}

p {
    font-weight: 400;
    color: hsl(229, 6%, 66%);
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1140px;
    margin: 0 auto;
}

.box{
    background-color: white;
    box-shadow: 0 14px 28px rgba(0,0,0,0.05), 0 10px 10px rgba(0,0,0,0.05);
    position: relative;
    overflow: hidden;
    padding: 30px;
    margin: 15px;
    width: 350px;
    border-radius: 5px;
    transition: .5s;
}

.box:hover, .box:focus {
    transform: translateY(-10px);
    transition: .5s;
}

.box::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 5px;
    width: 100%;
}

.supervisor::after {
    background-color: hsl(180, 62%, 55%);
}

.teambuilder::after {
    background-color: hsl(0, 78%, 62%);
}

.karma::after {
    background-color: hsl(34, 97%, 64%);
}

.calculator::after {
    background-color: hsl(212, 86%, 64%);
}

.box h3 {
    margin: 0;
}

.box img {
    display: block;
    margin-left: auto;
}

.box p {
    font-size: 14px;
    margin: 15px 0 30px;
}

.side {
    transform: translateY(50%);
    transition: .5s;
}

.side:hover, .side:focus {
    transform: translateY(45%);
    transition: .5s;
}

@media (max-width: 440px) {
    .side {
        transform: translateY(0);
    }

    .box.karma {
        order: 3;
    }

    .box.calculator {
        order: 4;
    }
    
    p.desc {
        font-size: 15px;
        padding-left: 20px;
        padding-right: 20px;
    }

    h1, span {
        font-size: 1.5rem;
    }

    body {
        margin-top: 0;
        margin-bottom: 50px;
    }
}